html, body {
  height: 100vh;
  width: 100vw;
  background: #fff;
  font: 11px menlo;
  color: #000; }

.title {
  font-weight: 400;
  margin: 0; }

.subtitle {
  font-weight: 100;
  margin: 0; }

.x {
  cursor: pointer; }

.navbar {
  display: flex;
  padding: 2.5vh 10vw 2.5vh 2vw; }

.navbar-link {
  margin: 8px 20px; }

#navbar-brand {
  color: #000;
  text-decoration: none; }

.navbar-items {
  display: flex; }

.navbar-items-right {
  margin-left: auto; }

.navbar-link-toggle {
  display: none; }

.navbar-svg-line {
  stroke: #000;
  stroke-width: 2; }

.text-input {
  position: relative; }
  .text-input label {
    position: absolute;
    padding: 10px 0 0 10px;
    font-size: 1.5em;
    transition: padding 0.25s, font-size 0.25s; }
  .text-input label.focused {
    font-size: 0.9em;
    padding: 5px 0 0 5px; }
  .text-input input[type=text],
  .text-input input[type=email],
  .text-input input[type=date],
  .text-input input[type=password],
  .text-input input[type=tel],
  .text-input input[type=time] {
    color: #000;
    background: #eee;
    height: 2em;
    padding: calc(10px + 5px) 0 0 5px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #5D44F8; }
  .text-input textarea {
    color: #000;
    background: #eee;
    padding: calc(10px * 2) 0 0 5px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #5D44F8; }

.text-input.invalid {
  color: #f00; }
  .text-input.invalid input[type=text],
  .text-input.invalid input[type=email],
  .text-input.invalid input[type=date],
  .text-input.invalid input[type=password],
  .text-input.invalid input[type=tel],
  .text-input.invalid input[type=time] {
    border-bottom-color: #f00; }
  .text-input.invalid textarea {
    border-bottom-color: #f00; }

.select-input {
  position: relative; }
  .select-input label {
    position: absolute;
    font-size: 0.9em;
    padding: 5px 0 0 5px; }
  .select-input select {
    color: #000;
    min-width: 10ch;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 0;
    padding: calc(10px + 5px) 0 0 5px;
    font-size: 1em;
    height: 3.5em;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #5D44F8; }

button {
  padding: 7px 10px;
  border-radius: 5px; }
  button.primary {
    padding: 9px 11px;
    background: #5D44F8;
    color: #000; }
  button.secondary {
    border-style: solid;
    background: #fff;
    border-width: 2px;
    border-color: #5D44F8; }
  button.flat {
    background: #fff;
    border-style: none; }

.modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  flex-direction: row;
  justify-content: space-between; }
  .modal.hidden {
    display: none; }
  .modal .container {
    position: relative;
    max-width: 70vw;
    max-height: 50vh;
    padding: 35px 40px 30px 30px;
    margin: auto;
    background: #fff;
    border-radius: 10px; }
  .modal .x {
    position: absolute;
    top: 7px;
    right: 10px; }

@media (prefers-color-scheme: dark) {
  /* 
    OS / Browser Dark Mode
  */
  html, body {
    color: #fff;
    background: #000; }
  #navbar-brand {
    color: #fff;
    text-decoration: none; }
  .navbar-link > * {
    color: #fff; }
  .navbar-svg-line {
    stroke: #fff;
    stroke-width: 2; }
  .text-input input[type=text],
  .text-input input[type=email],
  .text-input input[type=date],
  .text-input input[type=password],
  .text-input input[type=tel],
  .text-input input[type=time] {
    color: #fff;
    background: #333;
    border-bottom-color: #5D44F8; }
  .text-input textarea {
    color: #fff;
    background: #333;
    border-bottom-color: #5D44F8; }
  .text-input.invalid {
    color: #ff6e6e; }
  .select-input select {
    color: #fff;
    background: #000;
    border-bottom-color: #5D44F8; }
  button {
    color: #fff; }
    button.primary {
      background: #5D44F8;
      color: #fff; }
    button.secondary {
      background: #000;
      border-color: #5D44F8; }
    button.flat {
      background: #000; }
  .modal .container {
    background: #000; } }

@media only screen and (max-width: 1025px) {
  .navbar-items,
  .navbar {
    flex-direction: column; }
  .navbar-items {
    display: none; }
  .navbar-items-right {
    margin-left: 0; }
  .navbar-toggle-show {
    display: flex; }
  .navbar-link-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
    position: absolute;
    margin: 8px 0; } }

@media only screen and (max-width: 375px) {
  /*
    iPhone X, 6, 7, 8
  */ }

@media only screen and (max-width: 320px) {
  /*
    iPhone 5
  */ }
