html, body {
  height: 100vh;
  width: 100vw;
  background: #fff;
  font: 11px menlo;
  color: #000; }

.navbar {
  display: flex;
  padding: 2.5vh 10vw 2.5vh 2vw; }

.navbar-link {
  margin: 8px 20px; }

#navbar-brand {
  color: #000;
  text-decoration: none; }

.navbar-items {
  display: flex; }

.navbar-items-right {
  margin-left: auto; }

.navbar-link-toggle {
  display: none; }

.navbar-svg-line {
  stroke: #000;
  stroke-width: 2; }

.text-input {
  position: relative; }
  .text-input label {
    position: absolute;
    margin: 10px 0 0 10px;
    font-size: 1.5em;
    transition: margin 0.25s, font-size 0.25s; }
  .text-input label.focused {
    font-size: 0.9em;
    margin: 5px 0 0 5px; }
  .text-input input[type=text] {
    height: 2em;
    padding: calc(10px + 5px) 0 0 calc(5px - 1px);
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #5D44F8; }
  .text-input input[type=email] {
    height: 2em;
    padding: calc(10px + 5px) 0 0 calc(5px - 1px);
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #5D44F8; }
  .text-input textarea {
    padding: calc(10px * 2) 0 0 5px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #5D44F8; }

.text-input.invalid {
  color: #f00; }
  .text-input.invalid input[type=text] {
    border-bottom-color: #f00; }
  .text-input.invalid input[type=email] {
    border-bottom-color: #f00; }
  .text-input.invalid textarea {
    border-bottom-color: #f00; }

.select-input {
  position: relative; }
  .select-input label {
    position: absolute;
    font-size: 0.9em;
    margin: 5px 0 0 5px; }
  .select-input select {
    min-width: 10ch;
    -webkit-appearance: none;
    background: #fff;
    border-radius: 0;
    padding: calc(10px + 5px) 0 0 5px;
    font-size: 1em;
    height: 3.5em;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #5D44F8; }

@media (prefers-color-scheme: dark) {
  /* 
    OS / Browser Dark Mode
  */
  html, body {
    color: #fff;
    background: #000; }
  #navbar-brand {
    color: #fff;
    text-decoration: none; }
  .navbar-link > * {
    color: #fff; }
  .navbar-svg-line {
    stroke: #fff;
    stroke-width: 2; }
  .text-input input[type=text] {
    border-bottom-color: #5D44F8; }
  .text-input input[type=email] {
    border-bottom-color: #5D44F8; }
  .text-input textarea {
    border-bottom-color: #5D44F8; }
  .select-input select {
    background: #000;
    border-bottom-color: #5D44F8; } }

@media only screen and (max-width: 1025px) {
  .navbar-items,
  .navbar {
    flex-direction: column; }
  .navbar-items {
    display: none; }
  .navbar-items-right {
    margin-left: 0; }
  .navbar-toggle-show {
    display: flex; }
  .navbar-link-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
    position: absolute;
    margin: 8px 0; } }

@media only screen and (max-width: 375px) {
  /*
    iPhone X, 6, 7, 8
  */ }

@media only screen and (max-width: 320px) {
  /*
    iPhone 5
  */ }
