@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

$document-font-size: 1em;

$light-bg-color: #fff;
$light-font-color: #000;
$light-primary-color: #5D44F8;

$dark-bg-color: #000;
$dark-font-color: #fff;
$dark-primary-color: #5D44F8;

$error-color: #f00;

$input-label-top-margin: 10px;
$input-label-left-margin: 10px;
$input-label-focused-top-margin: 5px;
$input-label-focused-left-margin: 5px;

html, body { 
  height: 100vh;
  width: 100vw;
  background: $light-bg-color;
  font: 11px menlo;
  color: $light-font-color
}

.navbar {
  display: flex;
  padding: 2.5vh 10vw 2.5vh 2vw;
}

.navbar-link {
  margin: 8px 20px;
}

#navbar-brand {
  color: $light-font-color;
  text-decoration: none;
}

.navbar-items {
  display: flex;
}

.navbar-items-right {
  margin-left: auto;
}

.navbar-link-toggle {
  display: none;
}

.navbar-svg-line {
  stroke: $light-font-color;
  stroke-width: 2;
}

.text-input {
  position: relative;

  label {
    position: absolute;
    margin: $input-label-top-margin 0 0 $input-label-left-margin;
    font-size: 1.5em;
    transition: margin 0.25s, font-size 0.25s;
  }

  label.focused {
    font-size: 0.9em;
    margin: $input-label-focused-top-margin 0 0 $input-label-focused-left-margin;
  }

  input[type=text],
  input[type=email],
  input[type=date],
  input[type=password],
  input[type=tel],
  input[type=time] {
    height: 2em;
    padding: calc(#{$input-label-top-margin} + 5px) 0 0 $input-label-focused-left-margin;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $light-primary-color;
  }

  textarea {
    padding: calc(#{$input-label-top-margin} * 2) 0 0 $input-label-focused-left-margin;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $light-primary-color;
  }
}

.text-input.invalid {
  color: $error-color;

  input[type=text],
  input[type=email],
  input[type=date],
  input[type=password],
  input[type=tel],
  input[type=time] {
    border-bottom-color: $error-color;
  }

  textarea {
    border-bottom-color: $error-color;
  }
}

.select-input {
  position: relative;

  label {
    position: absolute;
    font-size: 0.9em;
    margin: $input-label-focused-top-margin 0 0 $input-label-focused-left-margin;
  }

  select {
    min-width: 10ch;
    @include vendor-prefix('appearance', 'none');
    background: $light-bg-color;
    border-radius: 0;
    padding: calc(#{$input-label-top-margin} + 5px) 0 0 $input-label-focused-left-margin;
    font-size: 1em;
    height: 3.5em;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $light-primary-color;
  }
}

button {
  padding: 7px 10px;
  border-radius: 5px;

  &.primary {
    padding: 9px 11px;
    background: $light-primary-color;
    color: white;
  }

  &.secondary {
    border-style: solid;
    background: $light-bg-color;
    border-width: 2px;
    border-color: $light-primary-color;
  }

  &.flat {
    background: $light-bg-color;
    border-style: none;
  }
}

@media (prefers-color-scheme: dark) {
  /* 
    OS / Browser Dark Mode
  */
  html, body {
    color: $dark-font-color;
    background: $dark-bg-color;
  }

  #navbar-brand {
    color: $dark-font-color;
    text-decoration: none;
  }

  .navbar-link > *{
    color: $dark-font-color;
  }

  .navbar-svg-line {
    stroke: $dark-font-color;
    stroke-width: 2;
  }

  .text-input {
    input[type=text],
    input[type=email],
    input[type=date],
    input[type=password],
    input[type=tel],
    input[type=time] {
      border-bottom-color: $dark-primary-color;
    }
  
    textarea {
      border-bottom-color: $dark-primary-color;
    }
  }

  .select-input {
    select {
      background: $dark-bg-color;
      border-bottom-color: $dark-primary-color;
    }
  }
}

@media only screen and (max-width: 1025px) {

  .navbar-items,
  .navbar {
    flex-direction: column;
  }

  .navbar-items {
    display: none;
  }

  .navbar-items-right {
    margin-left: 0;
  }

  .navbar-toggle-show {
    display: flex;
  }

  .navbar-link-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
    position: absolute;
    margin: 8px 0;
  }
}

@media only screen and (max-width: 375px) {

  /*
    iPhone X, 6, 7, 8
  */
}

@media only screen and (max-width: 320px) {

  /*
    iPhone 5
  */
}