@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

$document-font-size: 1em;

$light-bg-color: #fff;
$light-font-color: #000;
$light-grayed-color: #eee;
$light-primary-color: #5D44F8;

$dark-bg-color: #000;
$dark-font-color: #fff;
$dark-grayed-color: #333;
$dark-primary-color: #5D44F8;

$error-color: #f00;

$input-label-top-padding: 10px;
$input-label-left-padding: 10px;
$input-label-focused-top-padding: 5px;
$input-label-focused-left-padding: 5px;

html, body { 
  height: 100vh;
  width: 100vw;
  background: $light-bg-color;
  font: 11px menlo;
  color: $light-font-color
}

.title {
  font-weight: 400;
  margin: 0;
}

.subtitle {
  font-weight: 100;
  margin: 0;
}

.x {
  cursor: pointer;
}

.navbar {
  display: flex;
  padding: 2.5vh 10vw 2.5vh 2vw;
}

.navbar-link {
  margin: 8px 20px;
}

#navbar-brand {
  color: $light-font-color;
  text-decoration: none;
}

.navbar-items {
  display: flex;
}

.navbar-items-right {
  margin-left: auto;
}

.navbar-link-toggle {
  display: none;
}

.navbar-svg-line {
  stroke: $light-font-color;
  stroke-width: 2;
}

.text-input {
  position: relative;

  label {
    position: absolute;
    padding: $input-label-top-padding 0 0 $input-label-left-padding;
    font-size: 1.5em;
    transition: padding 0.25s, font-size 0.25s;
  }

  label.focused {
    font-size: 0.9em;
    padding: $input-label-focused-top-padding 0 0 $input-label-focused-left-padding;
  }

  input[type=text],
  input[type=email],
  input[type=date],
  input[type=password],
  input[type=tel],
  input[type=time] {
    color: $light-font-color;
    background: $light-grayed-color;
    height: 2em;
    padding: calc(#{$input-label-top-padding} + 5px) 0 0 $input-label-focused-left-padding;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $light-primary-color;
  }

  textarea {
    color: $light-font-color;
    background: $light-grayed-color;
    padding: calc(#{$input-label-top-padding} * 2) 0 0 $input-label-focused-left-padding;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $light-primary-color;
  }
}

.text-input.invalid {
  color: $error-color;

  input[type=text],
  input[type=email],
  input[type=date],
  input[type=password],
  input[type=tel],
  input[type=time] {
    border-bottom-color: $error-color;
  }

  textarea {
    border-bottom-color: $error-color;
  }
}

.select-input {
  position: relative;

  label {
    position: absolute;
    font-size: 0.9em;
    padding: $input-label-focused-top-padding 0 0 $input-label-focused-left-padding;
  }

  select {
    color: $light-font-color;
    min-width: 10ch;
    @include vendor-prefix('appearance', 'none');
    background: $light-bg-color;
    border-radius: 0;
    padding: calc(#{$input-label-top-padding} + 5px) 0 0 $input-label-focused-left-padding;
    font-size: 1em;
    height: 3.5em;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $light-primary-color;
  }
}

button {
  padding: 7px 10px;
  border-radius: 5px;

  &.primary {
    padding: 9px 11px;
    background: $light-primary-color;
    color: $light-font-color;
  }

  &.secondary {
    border-style: solid;
    background: $light-bg-color;
    border-width: 2px;
    border-color: $light-primary-color;
  }

  &.flat {
    background: $light-bg-color;
    border-style: none;
  }
}

.modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  flex-direction: row;
  justify-content: space-between;

  &.hidden {
    display: none;
  }

  .container {
    position: relative;
    max-width: 70vw;
    max-height: 50vh;
    padding: 35px 40px 30px 30px;
    margin: auto;
    background: $light-bg-color;
    border-radius: 10px;
  }

  .x {
    position: absolute;
    top: 7px;
    right: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  /* 
    OS / Browser Dark Mode
  */
  html, body {
    color: $dark-font-color;
    background: $dark-bg-color;
  }

  #navbar-brand {
    color: $dark-font-color;
    text-decoration: none;
  }

  .navbar-link > *{
    color: $dark-font-color;
  }

  .navbar-svg-line {
    stroke: $dark-font-color;
    stroke-width: 2;
  }

  .text-input {
    input[type=text],
    input[type=email],
    input[type=date],
    input[type=password],
    input[type=tel],
    input[type=time] {
      color: $dark-font-color;
      background: $dark-grayed-color;
      border-bottom-color: $dark-primary-color;
    }
  
    textarea {
      color: $dark-font-color;
      background: $dark-grayed-color;
      border-bottom-color: $dark-primary-color;
    }

    &.invalid {
      color: rgb(255, 110, 110);
    }
  }

  .select-input {
    select {
      color: $dark-font-color;
      background: $dark-bg-color;
      border-bottom-color: $dark-primary-color;
    }
  }

  button {
    color: $dark-font-color;

    &.primary {
      background: $dark-primary-color;
      color: $dark-font-color;
    }
  
    &.secondary {
      background: $dark-bg-color;
      border-color: $dark-primary-color;
    }
  
    &.flat {
      background: $dark-bg-color;
    }
  }

  .modal {
    .container {
      background: $dark-bg-color;
    }
  }
}

@media only screen and (max-width: 1025px) {

  .navbar-items,
  .navbar {
    flex-direction: column;
  }

  .navbar-items {
    display: none;
  }

  .navbar-items-right {
    margin-left: 0;
  }

  .navbar-toggle-show {
    display: flex;
  }

  .navbar-link-toggle {
    align-self: flex-end;
    display: initial;
    cursor: pointer;
    position: absolute;
    margin: 8px 0;
  }
}

@media only screen and (max-width: 375px) {

  /*
    iPhone X, 6, 7, 8
  */
}

@media only screen and (max-width: 320px) {

  /*
    iPhone 5
  */
}